:root {
    --primary-color: #f4ac54;
    --white: white;
    --black: black;
    --bg-block: #fff9f8;
    --primary-font: "Open Sans";
    --secondary-font: "Lato";
    --wrapper: 192rem;
    --container: 99rem;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%; 
  }
  body {
    overflow-x: hidden;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-dark);
    background-color: var(--white);
  }
  img {
    display: block;
    max-width: 100%;
  }
  a {
    display: block;
    text-decoration: none;
  }
  .wrapper {
    max-width: var(--wrapper);
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: var(--container);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto; 
  }

  